<!DOCTYPE html>
<html lang="en" ng-app="app.dash">

<head>
    <title>PhaseZero</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="../css/dashboard2.css">
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <script src="../js/dashboard2.js"></script>
</head>

<body ng-controller="DashController as dash">
    <div class="top-header">
        <h5 class="right">
          +1 (855)474-2730 | info@phasezero.io
        </h5>
    </div>
    <nav>
        <img id="logoImg" src="/images/phaseZero_log.png" />
        <div class="pull-right container-fluid">
            <ul class="nav nav-pills">
                <li><a href="#">Home</a></li>
                <li><a href="#">What We Do</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
    <form ng-submit="dash.changeInput()">
        <div class="form-group">
            <label for="sel1">Select A Country Of Interest:</label>
            <select class="form-control mySelect" id="sel1" ng-model="dash.inputName">
              <option selected >Algeria</option>
              <option>Angola</option>
              <option>Benin</option>
              <option>Botswana</option>
              <option>Burkina Faso</option>
              <option>Burundi</option>
              <option>Cameroon</option>
              <option>Central African Republic</option>
              <option>Chad</option>
              <option>Djibouti</option>
              <option>Democratic Republic of Congo</option>
              <option>Egypt</option>
              <option>Equatorial Guinea</option>
              <option>Eritrea</option>
              <option>Gabon</option>
              <option>Gambia</option>
              <option>Ghana</option>
              <option>Guinea</option>
              <option>Guinea-Bissau</option>
              <option>Ivory Coast</option>
              <option>Kenya</option>
              <option>Lesotho</option>
              <option>Liberia</option>
              <option>Libya</option>
              <option>Madagascar</option>
              <option>Malawi</option>
              <option>Mali</option>
              <option>Mauritania</option>
              <option>Morocco</option>
              <option>Mozambique</option>
              <option>Namibia</option>
              <option>Niger</option>
              <option>Nigeria</option>
              <option>Republic of Congo</option>
              <option>Rwanda</option>
              <option>Senegal</option>
              <option>Sierra Leone</option>
              <option>Somalia</option>
              <option>South Africa</option>
              <option>South Sudan</option>
              <option>Sudan</option>
              <option>Swaziland</option>
              <option>Tanzania</option>
              <option>Togo</option>
              <option>Tunisia</option>
              <option>Uganda</option>
              <option>Zambia</option>
              <option>Zimbabwe</option>
            </select>
            <label for="sel1">Select Number of Days You Like to Observe:</label>
            <select class="form-control mySelect" id="sel1" ng-model="dash.days">
              <option value=30 >1 Month</option>
              <option value=92 >3 Months</option>
              <option value=180 >6 Months</option>
              <option value=365 >1 Year</option>
              <option value=0>All Data</option>
            </select>
            <button class="btn country-submit" type="submit">Let's Change Things Up!</button>
            <h2 class="countryName redAlert">{{ dash.loading }}</h2>
        </div>
    </form>
    <div class="metricsContainer">
        <div class="topStats">
            <h5 class="countryTitle">Current Country of Interest</h5>
            <h2 class="countryName">{{ dash.inputName }}</h2>
        </div>
        <div  class="topStats">
          <h5 class="countryTitle">Total Number of Events For: {{dash.inputName}}</h5>
          <h2 class="countryName">{{ dash.total }}</h2>
        </div>
        <div id="container-rpm" fill="black" class="topStats"></div>
        <div  class="topStats">
          <h5 class="countryTitle">Current Days of Data For: {{dash.inputName}} </h5>
          <h2 class="countryName">{{ dash.current}}</h2>
        </div>
        <div class="topStats">
            <h5 class="countryTitle">Current Dates of Observed Data</h5>
            <h4 class="countryName">{{dash.dateBeginning}} - {{dash.dateEnding}}</h4></div>
    </div>
    <div id="radarContainer">
        <canvas id="radarChart" height="75" width="100"></canvas>
    </div>
    <div id="radarContainer">
        <canvas id="donutChart" height="75" width="100"></canvas>
    </div>
    <div id="graphics_container">
        <canvas id="fatalitiesChart" height="30" width="100"></canvas>
    </div>
    <div id="graphics_container">
        <canvas id="eventChart" height="30" width="100"></canvas>
    </div>
    <div id="mapid"></div>
    <div class="mapToolBox">
      <form ng-submit="dash.geoMap()">
        <div class="form-group">
          <h2 class="toolBoxTitle">Tools For Map Graphics</h2>
          <div class="borderLine"></div>
          <h4 class="label">Event Types</h4>
          <div class="geoSelect" id="sel2">
            <label class="radio">
              <input
               type="radio"
               name="optradio"
               ng-model="dash.eventType"
               value="Strategic Development">Strategic Development
             <div class="colorBox" style="background-color: rgba(150,0,0,.1); border: 1px solid rgba(150,0,0,.3)"></div></label>
            <label class="radio">
              <input
               type="radio"
               name="optradio"
               ng-model="dash.eventType"
               value="Headquarters or base established">Headquarters or base established
             <div class="colorBox" style="background-color: rgba(0,150,0,.1); border: 1px solid rgba(0,150,0,.3)"></div></label>
            <label class="radio">
              <input
               type="radio"
               name="optradio"
               ng-model="dash.eventType"
               value="Battle-Non-state actor overtakes territory">Battle-Non-state actor overtakes territory
             <div class="colorBox" style="background-color: rgba(0,0,150,.1); border: 1px solid  rgba(0,0,150,.3)"></div></label>
            <label class="radio">
              <input
               type="radio"
               name="optradio"
               ng-model="dash.eventType"
               value="Battle-Government regains territory">Battle-Government regains territory
             <div class="colorBox" style="background-color: rgba(150,150,0,.1); border: 1px solid rgba(150,150,0,.3)"></div></label>
            <label class="radio">
              <input
               type="radio"
               name="optradio"
               ng-model="dash.eventType"
               value="Non-violent transfer of territory">Non-violent transfer of territory
             <div class="colorBox" style="background-color: rgba(250,150,0,.1); border: 1px solid rgba(250,150,0,.3)"></div></label>
            <label class="radio">
              <input
               type="radio"
               name="optradio"
               ng-model="dash.eventType"
               value="Strategic development">Strategic development
             <div class="colorBox" style="background-color: rgba(150,0,150,.1); border: 1px solid rgba(150,0,150,.3)"></div></label>
            <label class="radio">
              <input
               type="radio"
               name="optradio"
               ng-model="dash.eventType"
               value="Riots/Protests">Riots/Protests
             <div class="colorBox" style="background-color: rgba(75,0,0,.1); border: 1px solid rgba(75,0,0,.3)"></div></label>
            <label class="radio">
              <input
               type="radio"
               name="optradio"
               ng-model="dash.eventType"
               value="Remote violence">Remote violence
             <div class="colorBox" style="background-color: rgba(0,75,0,.1); border: 1px solid rgba(0,75,0,.3)"></div></label>
            <label class="radio">
              <input
               type="radio"
               name="optradio"
               ng-model="dash.eventType"
               value="Violence against civilians">Violence against civilians
             <div class="colorBox" style="background-color: rgba(0,0,75,.1); border: 1px solid rgba(0,0,75,.3)"></div></label>
            <label class="radio">
              <input
               type="radio"
               name="optradio"
               ng-model="dash.eventType"
               value="Battle-No change of territory">Battle-No change of territory
             <div class="colorBox" style="background-color: rgba(0,150,150,.1); border: 1px solid rgba(0,150,150,.3)"></div></label>
            <label class="radio">
              <input
               type="radio"
               name="optradio"
               ng-model="dash.eventType"
               value="0">Select all event types</label>
          </div>
        </div>
        <div class="borderLine"></div>
        <div class="label">Start Time Period</div>
        <div class="dataSelector">
          <label class="label-date" for="sel4">Select Month</label>
          <select class="form-control  inputs" id="sel4" ng-model="dash.firstMonth">
            <option value='01' selected>January</option>
            <option value='02' >Febuary</option>
            <option value='03' >March</option>
            <option value='04' >April</option>
            <option value='05'>May</option>
            <option value='06' >June</option>
            <option value='07' >July</option>
            <option value='08' >August</option>
            <option value='09' >September</option>
            <option value='10'>October</option>
            <option value='11' >November</option>
            <option value='12' >December</option>
          </select>
        </div>
        <div class="dataSelector days">
          <label class="label-date" for="sel7">Select Day</label>
          <select class="form-control  inputs" id="sel7" ng-model="dash.firstDay">
            <option value='01' selected>1</option>
            <option value='02' >2</option>
            <option value='03' >3</option>
            <option value='04' >4</option>
            <option value='05'>5</option>
            <option value='06' >6</option>
            <option value='07' >7</option>
            <option value='08' >8</option>
            <option value='09' >9</option>
            <option value='10'>10</option>
            <option value='11' >11</option>
            <option value='12' >12</option>
            <option value='13' >13</option>
            <option value='14' >14</option>
            <option value='15'>15</option>
            <option value='16' >16</option>
            <option value='17' >17</option>
            <option value='18' >18</option>
            <option value='19' >19</option>
            <option value='20'>20</option>
            <option value='21' >21</option>
            <option value='22' >22</option>
            <option value='23'>23</option>
            <option value='24' >24</option>
            <option value='25' >25</option>
            <option value='26' >26</option>
            <option value='27' >27</option>
            <option value='28'>28</option>
            <option value='29' >29</option>
            <option value='30' >30</option>
            <option value='31' >31</option>
          </select>
        </div>
        <div class="dataSelector">
          <label class="label-date" for="sel5">Select Year</label>
          <select class="form-control inputs" id="sel5"  ng-model="dash.firstYear">
            <option value="2016" selected>2016</option>
            <option value="2015" >2015</option>
            <option value="2014" >2014</option>
            <option value="2013" >2013</option>
            <option value="2012">2012</option>
            <option value="2011" >2011</option>
            <option value="2010" >2010</option>
            <option value="2009" >2009</option>
            <option value="2008" >2008</option>
            <option value="2007">2007</option>
            <option value="2006" >2006</option>
            <option value="2005" >2005</option>
            <option value="2004" >2004</option>
            <option value="2003" >2003</option>
            <option value="2002">2002</option>
            <option value="2001">2001</option>
            <option value="2000" >2000</option>
            <option value="1999" >1999</option>
            <option value="1998" >1998</option>
            <option value="1997">1997</option>
          </select>
        </div>
        <div class="borderLine"></div>
        <div class="label">End Time Period</div>
        <div class="dataSelector">
          <label class="label-date" for="sel4">Select Month</label>
          <select class="form-control  inputs" id="sel4" ng-model="dash.lastMonth">
            <option value='01' selected>January</option>
            <option value='02' >Febuary</option>
            <option value='03' >March</option>
            <option value='04' >April</option>
            <option value='05'>May</option>
            <option value='06' >June</option>
            <option value='07' >July</option>
            <option value='08' >August</option>
            <option value='09' >September</option>
            <option value='10'>October</option>
            <option value='11' >November</option>
            <option value='12' >December</option>
          </select>
        </div>
        <div class="dataSelector days">
          <label class="label-date" for="sel7">Select Day</label>
          <select class="form-control  inputs" id="sel7" ng-model="dash.lastDay">
            <option value='01' selected>1</option>
            <option value='02' >2</option>
            <option value='03' >3</option>
            <option value='04' >4</option>
            <option value='05'>5</option>
            <option value='06' >6</option>
            <option value='07' >7</option>
            <option value='08' >8</option>
            <option value='09' >9</option>
            <option value='10'>10</option>
            <option value='11' >11</option>
            <option value='12' >12</option>
            <option value='13' >13</option>
            <option value='14' >14</option>
            <option value='15'>15</option>
            <option value='16' >16</option>
            <option value='17' >17</option>
            <option value='18' >18</option>
            <option value='19' >19</option>
            <option value='20'>20</option>
            <option value='21' >21</option>
            <option value='22' >22</option>
            <option value='23'>23</option>
            <option value='24' >24</option>
            <option value='25' >25</option>
            <option value='26' >26</option>
            <option value='27' >27</option>
            <option value='28'>28</option>
            <option value='29' >29</option>
            <option value='30' >30</option>
            <option value='31' >31</option>
          </select>
        </div>
        <div class="dataSelector">
          <label class="label-date" for="sel5">Select Year</label>
          <select class="form-control  inputs" id="sel5" ng-model="dash.lastYear">
            <option value="2017" selected>2017</option>
            <option value="2016" >2016</option>
            <option value="2015" >2015</option>
            <option value="2014" >2014</option>
            <option value="2013" >2013</option>
            <option value="2012">2012</option>
            <option value="2011" >2011</option>
            <option value="2010" >2010</option>
            <option value="2009" >2009</option>
            <option value="2008" >2008</option>
            <option value="2007">2007</option>
            <option value="2006" >2006</option>
            <option value="2005" >2005</option>
            <option value="2004" >2004</option>
            <option value="2003" >2003</option>
            <option value="2002">2002</option>
            <option value="2001">2001</option>
            <option value="2000" >2000</option>
            <option value="1999" >1999</option>
            <option value="1998" >1998</option>
            <option value="1997">1997</option>
          </select>
        </div>
        <button class="btn geo-submit" type="submit">Geo Data For {{ dash.inputName }}</button>
      </form>
      <form ng-submit="dash.clearMap()">
        <button class="btn geo-submit" id="grey" type="submit">Clear Map</button>
      </form>
    </div>

  </body>
</body>

</html>
