body{
  background-color: rgba(235,235,235,1);
}
#graphics_container {
  display:block;
  position:relative;
  margin:10px;
  top:10px;

  width:98%;
  height:auto;
  background-color: white;
}
#radarContainer {
  display:inline-block;
  position:relative;
  margin: 10px 0px 10px 10px;
  top:10px;
  width:48.5%;
  height:auto;
  background-color: white;
}
form {
  margin:10px;
  padding:10px;
}
.mySelect {
  width: 45%;
}
 .countryTitle {
   color: #666;
   text-align: center;
   margin-top:15px;
 }

 .countryName {
   color:black;
   font-weight: 900;
   text-align: center;
   margin-top:50px;
 }
 .redAlert {
   color:#ddd;
   font-weight: 900;
   font-size: 60px;
   background-color: rgba(255,0,0,.4);

 }
 .topStats {
   display:inline-block;
   height: 200px;
   width:300px;
   margin-left: 10px;
   background-color: #999;
   position:relative;
   top:10px;
   float:left;
 }

#mapid {
  height: 600px;
  width:70%;
  float:left;
  margin:10px;
}
