body{
  background-color: rgba(235,235,235,1);
}
#graphics_container {
  display:block;
  position:relative;
  margin:10px;
  top:10px;

  width:98%;
  height:auto;
  background-color: white;
}
#radarContainer {
  display:inline-block;
  position:relative;
  margin: 10px 0px 10px 10px;
  top:10px;
  width:48.5%;
  height:auto;
  background-color: white;
}
form {
  margin:10px;
  padding:10px;
}
.mySelect {
  width: 45%;
}
 .countryTitle {
   color: #666;
   text-align: center;
   margin-top:15px;
 }

 .countryName {
   color:black;
   font-weight: 900;
   text-align: center;
   margin-top:50px;
 }
 .redAlert {
   color:#eee;
   font-weight: 900;
   font-size: 60px;
   background-color: rgba(190,0,0,.4);

 }
 .topStats {
   display:inline-block;
   height: 200px;
   width:300px;
   margin-left: 10px;
   background-color: #999;
   position:relative;
   top:10px;
   float:left;
 }

#mapid {
  display:inline-block;
  height: 800px;
  width:65%;
  float:left;
  margin:10px;
}
.mapToolBox {
  display:inline-block;
  height: 800px;
  width:32%;
  float:left;
  margin:10px;
  background-color: white;
}
.label {
  margin:auto;
  text-align: center;
}
.borderLine {
  height:10px;
  width:100%;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}
.geoSelect {
  width:90%;
  margin:auto;
  line-height: 26px;
}
.toolBoxTitle {
  text-align: center;
}
ul {
  list-style-type: none;
}
.dataSelector {
  margin:auto;
  padding:5px 60px;
}
.geo-submit {
  margin:5px 10%;
  background-color: white;
  border:1px solid lightgrey;
  width:80%;
  height:auto;
  color:black;
  font-size: 22px;
  display:inline-block;
  box-shadow: 0px 7px 15px rgba(255,255,255,.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
.geo-submit:hover {
  box-shadow: 0px 37px 20px -20px rgba(0,0,0,.2);
  transform: translate(0px, -10px);
}
