body{
  background-color: rgba(235,235,235,1);
}
#graphics_container {
  display:block;
  position:relative;
  margin:10px;
  top:10px;

  width:98%;
  height:auto;
  background-color: white;
}
#radarContainer {
  display:inline-block;
  position:relative;
  margin: 10px 0px 10px 10px;
  top:10px;
  width:48.5%;
  height:auto;
  background-color: white;
}
/*canvas {
  background-color: #999;
}*/
form {
  margin:10px;
  padding:10px;
}
.mySelect {
  width: 45%;
}

.topToolBar {
  width: 48vw;
  float:left;
  height: auto;
}
.topToolBar2 {
  width: 48vw;
  float: right;
  height: auto;
}
.buttonTools {
  width:99vw;
  height:auto;
}
 .countryTitle {
   color: #666;
   text-align: center;
   margin-top:0px;
 }

 .countryName {
   color:black;
   font-weight: 900;
   text-align: center;
   margin-top:50px;
 }
 .redAlert {
   color:#eee;
   font-weight: 900;
   font-size: 60px;
   background-color: rgba(190,0,0,.4);

 }
 .topStats {
   display:inline-block;
   height: 200px;
   width:300px;
   margin-left: 10px;
   background-color: #999;
   position:relative;
   top:10px;
   float:left;
 }

#mapid {
  display:inline-block;
  height: 900px;
  width:65%;
  float:left;
  margin:10px;
}
.mapToolBox {
  display:inline-block;
  height: 900px;
  width:32%;
  float:left;
  margin:10px;
  background-color: white;
}
.label {
  /*margin:15px auto;*/
  text-align: center;
  color:#FF6600;
  font-size: 20px;
  display:block;

}
.borderLine {
  height:10px;
  width:100%;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}
.geoSelect {
  width:90%;
  margin:auto;
  line-height: 26px;
}
.toolBoxTitle {
  text-align: center;
}
ul {
  list-style-type: none;
}
.dataSelector {
  margin:auto;
  padding:5px 10px;
  display:inline-block;
  width:36%;
}
.inputs {
  width:100%;
}
.days {
  width:20%;
}
.label-data {
  margin-left:50px;
  text-align: center;
}
.colorBox {
  height: 20px;
  width: 20px;
  padding: 5px;
  float:right;
  display:inline-block;
}

.country-submit {
  margin-top: 10px;
  background-color: white;
  border:1px solid lightgrey;
  width:auto;
  padding: 10px;
  height:auto;
  color:black;
  font-size: 22px;
  display:inline-block;
  box-shadow: 0px 7px 15px rgba(255,255,255,.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
.country-submit:hover {
  color: white;
  background-color: #777;
  box-shadow: 0px 37px 20px -20px rgba(0,0,0,.2);
  transform: translate(0px, -10px);
}
#grey {
  background-color: #777;
  color: white;
}
#grey:hover {
  color: #777;
  background-color: white;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: rgba(0,0,0,.7);
    color: white;
    box-shadow: 0 3px 14px rgba(0,0,0,0.7);
}
.geo-submit {
  margin:5px 10%;
  background-color: white;
  border:1px solid lightgrey;
  width:80%;
  height:auto;
  color:black;
  font-size: 22px;
  display:inline-block;
  box-shadow: 0px 7px 15px rgba(255,255,255,.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
.geo-submit:hover {
  color: white;
  background-color: #777;
  box-shadow: 0px 37px 20px -20px rgba(0,0,0,.2);
  transform: translate(0px, -10px);
}
.popup {
  font-size: 15px;
  color:#FF6600;
  display:inline-block;
  padding-right: 5px;
}
